.postContainer{
  text-align: center;
  h3{
    margin-bottom: 0.2em;
  }

  .tags{
    display: flex;
    justify-content: center;

    p{
      margin-right: 1em;
    }
    span{
      font-weight: bold;
    }
  }
}